<!DOCTYPE html>
<html>
  <head>
    <title>Dealerships List</title>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body style="font-family: 'Play', serif;font-size: 35px;">
    <h1 style="text-align: center; margin-bottom: 50px;">Dealerships <i class="fa fa-tasks"></i></h1>
    <div class="container">
      <ul>
        <% @dealerships.each() do |dealership| %>
        <li><a href="/dealerships/<%= dealership.id() %>"><%= dealership.name() %></a></li>
        <% end %>
      </ul>
    </div

  </body>
</html>
