<!DOCTYPE html>
<html>
  <head>
    <title>Add a new delership</title>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body style="font-family: 'Play', serif;font-size: 35px;">
    <div class="container">

<h1 style="text-align: center; margin-bottom: 50px; font-size: 55px;">Add a Dealership <i class="fa fa-tasks"></i></h1>

<form action="/dealerships" method="post" class="form-group">
  <label for="name">Dealership's name:</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-danger">Add Dealership</button>
</form>
</body>
</html>
