<!DOCTYPE html>
<html>
  <head>
    <title>Welsome to Car Saver</title>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body style="font-family: 'Play', serif;font-size: 35px;">
    <div class="container">
<h1>Welcome to Car Saver</h1>
<a href="/cars" class="btn btn-success">See Car List</a>
<a href="/cars/new" class="btn btn-warning">Add New Car</a>
</div>
  </body>
</html>
